name: Test My Gemini Action

on: [push]

jobs:
  generate_description:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Run Gemini PR Writer
        uses: ./

        with:
          gemini_api_key: ${{ secrets.GEMINI_API_KEY }}
